:root{
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color:#232323;
    font-size: 1.5rem;
    width: auto;
}
header{
    background-color: #232323;
    padding: 2rem;
    overflow: auto;
}
#imagen{
    background-image: url(" ../img/juegos-olimpicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #FFF;
    float: left;
    background-image: url("..//img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 60px;
}
h2{
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #FFF;
    background-color: #232323;
    margin-top: auto;
}
#noticia{
    width: 100%;
    margin-top: auto;
}
nav{
    float: right;
    margin-top: 0.5rem;
}
nav li {
    display: inline;
    margin: 0 1rem;
}
nav li a {
    color: #FFF;
    text-decoration: none;
}
